# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GymApp.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\GymApp\GymApp\.idea\.idea.GymApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
